<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
  <title>Free Dictionary</title>
</head>

<body>
<main>
  <header>
    <div class="container">
      <div class="brand-name">
        <a href="../index.ejs"><h1>Dictionary App</h1></a>
      </div>
      <!-- Add this button for toggling the sidebar, only for small screens -->
      <button class="fa-bars-icon" id="sidebarToggle">
        <i class="fas fa-bars"></i>
      </button>
      <div class="nav-links">
        <nav class="navbar">
          <ul>
            <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
            <li><a href="https://3coxa-oyaaa-aaaal-qcauq-cai.icp0.io/"><i class="fa-solid fa-file"></i>Portfolio</a></li>
            <li><a href="#footer"><i class="fa-solid fa-phone"></i>Contacts</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
  <!-- Sidebar container, initially hidden -->
  <div class="sidebar" id="sidebar">
    <ul>
      <!-- Add your links for the sidebar here -->
      <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
      <li><a href="https://3coxa-oyaaa-aaaal-qcauq-cai.icp0.io/"><i class="fa-solid fa-file"></i>Portfolio</a></li>
      <li><a href="#footer"><i class="fa-solid fa-phone"></i>Contacts</a></li>
    </ul>
    <div class="links-container">
      <!-- Add your social media links for the sidebar here -->
      <a href="https://www.linkedin.com/in/gagandeep-singh-225a5223b" class="links"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/Gagandeep-2003" class="links"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.facebook.com" class="links"><i class="fa-brands fa-facebook"></i></a>
    </div>
    <p class="footer-sidebar">Gagan Copyright © <%= new Date().getFullYear() %></p>
  </div>
  </div>
  

      </div>
    </div>
  </header>
  